In [1]:
import pandas as pd

In [4]:
df= pd.read_csv('time_series.csv')

df

,index,UF,CATEGORIA,JANEIRO,FEVEREIRO,MARÇO,ABRIL,MAIO,JUNHO,JULHO,AGOSTO,SETEMBRO,OUTUBRO,NOVEMBRO,DEZEMBRO,TOTAL,ANO,NOVA_CATEGORIA
0,0,AC,Pessoa física,23.0,16.0,41.0,41.0,29.0,21.0,28.0,50.0,50.0,28.0,30.0,68.0,425.0,2009.0,NaN
1,1,AC,Segurança Pública,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2009.0,NaN
2,2,AC,Segurança Privada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2009.0,NaN
3,3,AC,Órgão Público,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,240.0,240.0,2009.0,NaN
4,4,AC,Loja de Arma,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2009.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2344,2344,TO,Loja de arma,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021.0,Fabricante/Importador
2345,2345,TO,Órgão Público,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021.0,Órgão público com taxa
2346,2346,TO,Órgão Público,272.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,272.0,2021.0,Órgão público sem taxa
2347,2347,TO,Outros Tipos,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021.0,Outras Categorias
2348,2348,TO,Loja de arma,0.0,0.0,0.0,55.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,55.0,2021.0,Revendedor

In [15]:
total = df.groupby(['ANO','CATEGORIA'],as_index=False).sum()

In [19]:
total.to_csv('total.csv')