In [49]:
import pandas as pd

In [50]:
timeseries = []

for year in range(2009,2019):
    filename = 'Registro ' + str(year) + '.csv'
    df = pd.read_csv(filename,sep=';',skiprows=1)
    print(f'{year} - Before cleaning: {df.shape}')
    # Fill down
    # df['UF_old'] = df['UF']
    df['UF'] = df['UF'].fillna(method='pad')
    # Remove totals
    df = df[(df.UF != 'TODAS') & (df.CATEGORIA.str.contains('TOTAL|Total') == False)]   
    df['ano'] = year
    print(f'{year} - After cleaning: {df.shape}')
    timeseries.append(df)

2009 - Before cleaning: (998, 15)
2009 - After cleaning: (162, 16)
2010 - Before cleaning: (998, 15)
2010 - After cleaning: (162, 16)
2011 - Before cleaning: (998, 15)
2011 - After cleaning: (162, 16)
2012 - Before cleaning: (998, 15)
2012 - After cleaning: (162, 16)
2013 - Before cleaning: (998, 15)
2013 - After cleaning: (162, 16)
2014 - Before cleaning: (998, 15)
2014 - After cleaning: (162, 16)
2015 - Before cleaning: (998, 15)
2015 - After cleaning: (162, 16)
2016 - Before cleaning: (998, 15)
2016 - After cleaning: (162, 16)
2017 - Before cleaning: (998, 15)
2017 - After cleaning: (162, 16)
2018 - Before cleaning: (998, 15)
2018 - After cleaning: (162, 16)

In [51]:
df = pd.concat(timeseries, axis=0, ignore_index=True)

In [52]:
df.CATEGORIA.unique()

array(['Pessoa física', 'Segurança Pública', 'Segurança Privada',
       'Órgão Público', 'Loja de Arma', 'Outros Tipos'], dtype=object)

In [54]:
df

,UF,CATEGORIA,JANEIRO,FEVEREIRO,MARÇO,ABRIL,MAIO,JUNHO,JULHO,AGOSTO,SETEMBRO,OUTUBRO,NOVEMBRO,DEZEMBRO,TOTAL,ano
0,AC,Pessoa física,23.0,16.0,41.0,41.0,29.0,21.0,28.0,50.0,50.0,28.0,30.0,68.0,425.0,2009
1,AC,Segurança Pública,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2009
2,AC,Segurança Privada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2009
3,AC,Órgão Público,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,240.0,240.0,2009
4,AC,Loja de Arma,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1615,TO,Segurança Pública,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2018
1616,TO,Segurança Privada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,2018
1617,TO,Órgão Público,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018
1618,TO,Loja de Arma,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018
1619,TO,Outros Tipos,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018

In [53]:
df.to_csv('2009-2018.csv',index=False)

# 2019 : changes in the 'category' variable

In [55]:
df1_19 = pd.read_csv('Registro 2019 Jan Abr.csv',sep=';',skiprows=1)
df2_19 = pd.read_csv('Registro 2019 Abr Dez.csv',sep=';',skiprows=1)   

# Cleaning
df1_19['UF'] = df1_19['UF'].fillna(method='pad')
df1_19 = df1_19[(df1_19.UF != 'TODAS') & (df1_19.CATEGORIA.str.contains('TOTAL|Total') == False)]   

# df2
df2_19['UF'] = df2_19['UF'].fillna(method='pad')
df2_19 = df2_19[(df2_19.UF != 'TODAS') & (df2_19.CATEGORIA.str.contains('TOTAL|Total') == False)]

In [56]:
# Remove empty months (April - December)
# df2
print(df1_19.columns)
df1_19 = df1_19.iloc[:,:5]
print(df1_19.columns)

Index(['UF', 'CATEGORIA', 'JANEIRO', 'FEVEREIRO ', 'MARÇO', 'ABRIL', 'MAIO',
       'JUNHO', 'JULHO', 'AGOSTO', 'SETEMBRO', 'OUTUBRO', 'NOVEMBRO',
       'DEZEMBRO', 'TOTAL'],
      dtype='object')
Index(['UF', 'CATEGORIA', 'JANEIRO', 'FEVEREIRO ', 'MARÇO'], dtype='object')

In [57]:
# Old categories
df1_19.CATEGORIA.unique()

array(['Pessoa física', 'Segurança Pública', 'Segurança Privada',
       'Órgão Público', 'Loja de Arma', 'Outros Tipos'], dtype=object)

In [58]:
# New categories
df2_19.CATEGORIA.unique()

array(['Caçador de Subsistência', 'Cidadão',
       'Servidor Público (Porte por prerrogativa de função)',
       'Empresa com Segurança Orgânica', 'Empresa Comercial',
       'Empresa de Segurança Privada', 'Fabricante/Importador',
       'Órgão público com taxa', 'Órgão público sem taxa',
       'Outras Categorias', 'Revendedor'], dtype=object)

In [59]:
# Standardize categories

df2_19['NOVA_CATEGORIA'] = df2_19.CATEGORIA

df2_19.CATEGORIA = df2_19.CATEGORIA.replace({
    'Caçador de Subsistência': 'Pessoa física',
    'Cidadão': 'Pessoa física',
    'Servidor Público (Porte por prerrogativa de função)': 'Segurança Pública',
    'Empresa com Segurança Orgânica': 'Segurança Privada',
    'Empresa Comercial': 'Segurança Privada',
    'Empresa de Segurança Privada': 'Segurança Privada',
    'Fabricante/Importador': 'Loja de arma',
    'Órgão público com taxa': 'Órgão Público',
    'Órgão público sem taxa': 'Órgão Público',
    'Outras Categorias': 'Outros Tipos',
    'Revendedor': 'Loja de arma'
})

### Checking categories

In [60]:
df1_19.CATEGORIA.unique()

array(['Pessoa física', 'Segurança Pública', 'Segurança Privada',
       'Órgão Público', 'Loja de Arma', 'Outros Tipos'], dtype=object)

In [61]:
df2_19.CATEGORIA.unique()

array(['Pessoa física', 'Segurança Pública', 'Segurança Privada',
       'Loja de arma', 'Órgão Público', 'Outros Tipos'], dtype=object)

In [62]:
# df2 - group by old categories and delete last column
df2_19 = df2_19.groupby(['UF','CATEGORIA'], as_index=False).sum().iloc[:,:-1]

In [64]:
# delete columns 
cols_deleted = ['JANEIRO','FEVEREIRO ','MARÇO']

df2_19 = df2_19[df2_19.columns.difference(cols_deleted,sort=False)]

In [65]:
df2_19

,UF,CATEGORIA,ABRIL,MAIO,JUNHO,JULHO,AGOSTO,SETEMBRO,OUTUBRO,NOVEMBRO,DEZEMBRO
0,AC,Loja de arma,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AC,Outros Tipos,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AC,Pessoa física,6.0,25.0,20.0,45.0,43.0,41.0,69.0,66.0,71.0
3,AC,Segurança Privada,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,10.0
4,AC,Segurança Pública,0.0,3.0,1.0,4.0,3.0,3.0,0.0,3.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...
157,TO,Outros Tipos,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
158,TO,Pessoa física,0.0,2.0,60.0,75.0,16.0,57.0,67.0,74.0,61.0
159,TO,Segurança Privada,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,3.0
160,TO,Segurança Pública,0.0,0.0,19.0,24.0,4.0,16.0,16.0,24.0,7.0
161,TO,Órgão Público,0.0,0.0,3.0,0.0,0.0,280.0,35.0,0.0,0.0

### Merge 2019

In [78]:
print(f'Columns Jan- Mar >>>>>>>> {df1_19.columns}')
print(f'Shape Jan- Mar >>>>>>>> {df1_19.shape}')

Columns Jan- Mar >>>>>>>> Index(['UF', 'CATEGORIA', 'JANEIRO', 'FEVEREIRO ', 'MARÇO'], dtype='object')
Shape Jan- Mar >>>>>>>> (162, 5)

In [79]:
print(f'Columns Apr- Dez >>>>>>>> {df2_19.columns}')
print(f'Shape Apr- Dez >>>>>>>> {df2_19.shape}')

Columns Apr- Dez >>>>>>>> Index(['UF', 'CATEGORIA', 'ABRIL', 'MAIO', 'JUNHO', 'JULHO', 'AGOSTO',
       'SETEMBRO', 'OUTUBRO', 'NOVEMBRO', 'DEZEMBRO'],
      dtype='object')
Shape Apr- Dez >>>>>>>> (162, 11)

In [80]:
keycolumns = ['UF','CATEGORIA']

df_19 = pd.merge(df1_19,df2_19,left_on=key_columns,right_on=keycolumns)

In [91]:
# Total

df_19['TOTAL'] = df_19.loc[:, 'JANEIRO':'DEZEMBRO'].sum(axis=1)

df_19.to_csv('2019.csv',index=False)

df_19

,UF,CATEGORIA,JANEIRO,FEVEREIRO,MARÇO,ABRIL,MAIO,JUNHO,JULHO,AGOSTO,SETEMBRO,OUTUBRO,NOVEMBRO,DEZEMBRO,TOTAL
0,AC,Pessoa física,3.0,25.0,21.0,6.0,25.0,20.0,45.0,43.0,41.0,69.0,66.0,71.0,435.0
1,AC,Segurança Pública,0.0,0.0,0.0,0.0,3.0,1.0,4.0,3.0,3.0,0.0,3.0,13.0,30.0
2,AC,Segurança Privada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,10.0,15.0
3,AC,Órgão Público,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AC,Outros Tipos,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,TO,Pessoa física,1.0,6.0,5.0,0.0,2.0,60.0,75.0,16.0,57.0,67.0,74.0,61.0,424.0
131,TO,Segurança Pública,0.0,0.0,0.0,0.0,0.0,19.0,24.0,4.0,16.0,16.0,24.0,7.0,110.0
132,TO,Segurança Privada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,3.0,9.0
133,TO,Órgão Público,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,280.0,35.0,0.0,0.0,318.0
134,TO,Outros Tipos,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0